.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
Metodología bayesiana de estimación desagregada para cualquier IPM.rds
Modelo_bayes_HxA/COL/Data/COL2018IPM.dta
Modelo_bayes_HxA/COL/Data/COL2021IPM.dta
Modelo_bayes_HxA/COL/Data/chain_q.rds
_bookdown_files/
IPM_BOL/
ModeloV0/
Modelo_bayes_HxA/
Modelo_bayes_HxA_Hogar/
Modelo_bayes_HxA_Hogar_freq_2024/
Version_27092023/

