.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
Metodología bayesiana de estimación desagregada para cualquier IPM.rds
Modelo_bayes_HxA/COL/Data/COL2018IPM.dta
Modelo_bayes_HxA/COL/Data/COL2021IPM.dta
Modelo_bayes_HxA/COL/Data/chain_q.rds
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-32_2fdb6b28b769af87d7d54151289f6472.RData
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-32_2fdb6b28b769af87d7d54151289f6472.rdb
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-32_2fdb6b28b769af87d7d54151289f6472.rdx
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-33_948632ad76f487cdb827130f1e932492.RData
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-33_948632ad76f487cdb827130f1e932492.rdb
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-33_948632ad76f487cdb827130f1e932492.rdx
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-34_8ba81467a8db92964976457e899cf940.RData
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-34_8ba81467a8db92964976457e899cf940.rdb
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-34_8ba81467a8db92964976457e899cf940.rdx
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-35_df03fa7811674ce14f52e09139b4e4b1.RData
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-35_df03fa7811674ce14f52e09139b4e4b1.rdb
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-35_df03fa7811674ce14f52e09139b4e4b1.rdx
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-36_c704f331517daeba5150f3872ae61b19.RData
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-36_c704f331517daeba5150f3872ae61b19.rdb
_bookdown_files/02_Aplicacion_cache/html/unnamed-chunk-36_c704f331517daeba5150f3872ae61b19.rdx
